<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
      <h1 class="micropost">What's up?</h1>
      <!-- MME Si es passen varis arguments a render, els partial dona problemes si no es posa :partial=>'partial'  -->
      <%= render :partial=>'shared/micropost_form', :object => @micropost %>
      <%= render 'shared/feed' %>
    </td>
    <td class="sidebar round">
      <%= render :partial=>'shared/user_info', :object => current_user %>
    </td>
  </tr>
</table>