<h1>Listing <%= @user.name %>'s microposts</h1>

<table>
  <tr>
    <th>Content</th>
  </tr>
     <% unless @microposts.empty? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
      <% end %>
</table>

<br />
