<br />
<div class = "notice round prepend-1">
  <div class='info'>
  	<%= print_debug_expressions "current_user.inspect", "cookies.inspect" %>
  </div>
  <h6>Params</h6>
  <span class="small">params hash is used to pass objects from view to controller</span>
  <%= debug(params) %>
  <h6>Session</h6>
  <span class="small">session hash is used to pass around objects between server and client</span>
  <%= debug(session) %>
  <h6>Assigns</h6>
  <span class="small">assigns hash is used to pass instance vars from controller to views</span>
  <%= debug(assigns) %>
</div>  